.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-background-color: #f4f6f9;
}

.top-header {
    -fx-background-color: linear-gradient(to right, #eef6f3, #f8fafc);
    -fx-padding: 18 30;
    -fx-border-color: #e5e7eb;
    -fx-border-width: 0 0 1 0;
}

.header-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #11734f;
}

.header-subtitle {
    -fx-font-size: 13px;
    -fx-text-fill: #0c3450;
}

.sidebar {
    -fx-background-color: white;
    -fx-padding: 25;
    -fx-pref-width: 220;
}

.sidebar-title {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 20;
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

.nav-button {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10 15;
    -fx-cursor: hand;
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10;
    -fx-pref-height: 30;
}

.nav-button:hover {
    -fx-background-color: #334155;
    -fx-text-fill: white;
}

.nav-button.active {
    -fx-background-color: #5c93ff;
    -fx-text-fill: white;
}

.content-area {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 12, 0, 0, 2);
}

.page-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #dd6407;
}

.form-label {
    -fx-font-size: 14px;
    -fx-text-fill: #334155;
}

.text-field, .combo-box {
    -fx-pref-height: 38;
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 20;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

.primary-button {
    -fx-font-size: 14px;
    -fx-padding: 10 25;
    -fx-cursor: hand;
    -fx-background-color: #5c93ff;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

.primary-button:hover {
    -fx-background-color: #5c93ff;
}

.secondary-button {
    -fx-background-color: #e5e7eb;
    -fx-font-size: 14px;
    -fx-padding: 10 25;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

.secondary-button:hover {
    -fx-background-color: #d1d5db;
}
