#deleteAllButton {
    -fx-padding: 10;
    -fx-font-size: 18;
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-cursor: hand;

}
#deleteAllButton:hover {
    -fx-background-color: #d32f2f;
}

#labelText {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #1d832e;
}

#backButton {
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-font-size: 28;
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-cursor: hand;
}