* {
    -fx-font-family: "Segoe UI", "Arial";
}

.label {
    -fx-font-smoothing-type: lcd;
}


.navbar {
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-padding: 0 50;
}

.nav-item {
    -fx-font-size: 18px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.logo-text {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.login-btn {
    -fx-background-radius: 30;
    -fx-background-color: #5c93ff;
    -fx-text-fill: white;
    -fx-padding: 10 25;
    -fx-font-size: 16px;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: #5c93ff;
}

.hero-title {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #979581;
}

.hero-subtitle {
    -fx-font-size: 20px;
    -fx-text-fill: #979581;
}

.search-box {
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 20;
    -fx-padding: 30 35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

.search-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.search-value {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}


.search-btn {
    -fx-background-color: #5c93ff;
    -fx-background-radius: 12;
    -fx-padding: 15 30;
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.search-btn:hover {
    -fx-background-color: #457dff;
}