.input_bar {
    -fx-pref-height: 38;
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);

}
.updateButton {
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-font-size: 14;
    -fx-background-color: #1d832e;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.resetButton {
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-font-size: 14;
    -fx-background-color: #0668fb;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.heading {
    -fx-font-weight: bold;
    -fx-font-size: 35;
    -fx-text-fill: #c14c00;
}

.backButton {
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-font-size: 14;
    -fx-background-color: #d32f2f;
    -fx-text-fill: white;
    -fx-cursor: hand;
}
.root {
    -fx-background-color: linear-gradient(to right, #eef6f3, #f8fafc);
}