.input-box {
    -fx-background-color: rgba(255,255,255,0.75);
    -fx-background-radius: 20;
    -fx-padding: 30 35;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}

.sidebar-button {
    -fx-background-color: #eeeeee;
    -fx-background-radius: 10;
    -fx-pref-height: 40;
    -fx-padding: 15;
}

.search-box {
    -fx-background-color: #5c93ff;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 20 30;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 20, 0, 0, 5);
}